.skillupper {
    font-size: 75%;
}

.skilltable {
    font-size: 80%;
    padding-left: 5px;
    padding-right: 5px;
}

.skillrank-img {
	width: 25px;
}

.fc-img {
	height: 25px;
}

.skillrank-sm-img {
	width: 15px;
}

.skill-float-menu {
	position: fixed;
	top: 80px;
	right: 20px;
	height: 50px;
    z-index: 998;
    border-radius: 50%;
}

.sidenav-r {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #ffaaaa;
    overflow-x: hidden;
    padding-top: 150px;
    transition: 0.5s;
}

.sidenav-r .closebtn {
    position: absolute;
    top: 100px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.zerogap {
    padding: 0px;
    margin: 0px;
}

.sharemark {
    height: 15px;
}

@media screen and (min-width: 481px) {
    .sharemark {
        height: 25px;
    }
}

.sharediff {
    height: 12px;
}

@media screen and (min-width: 481px) {
    .sharediff {
        height: 18px;
    }
}

.rate {
    background-color: #186d18
}

.skill {
    background-color: #182f6d
}