/*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/
 .s0 {
    background: -webkit-linear-gradient(#eeeeee, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s1 {
    background: -webkit-linear-gradient(#FACC2E, #FACC2E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s2 {
    background: -webkit-linear-gradient(#FACC2E, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s3 {
    background: -webkit-linear-gradient(#FFFF5C, #FFFF5C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s4 {
    background: -webkit-linear-gradient(#FFFF5C, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s5 {
    background: -webkit-linear-gradient(#33FF00, #33FF00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s6 {
    background: -webkit-linear-gradient(#33FF00, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s7 {
    background: -webkit-linear-gradient(#7598FF, #7598FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s8 {
    background: -webkit-linear-gradient(#7598FF, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s9 {
    background: -webkit-linear-gradient(#FF00FF, #FF00FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s10 {
    background: -webkit-linear-gradient(#FF00FF, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s11 {
    background: -webkit-linear-gradient(#FF0000, #FF0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s12 {
    background: -webkit-linear-gradient(#FF0000, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s13 {
    background: -webkit-linear-gradient(#dd8844, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s14 {
    background: -webkit-linear-gradient(#888888, #dddddd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s15 {
    background: -webkit-linear-gradient(#C3C300, #FFFFB7, #FFFFB7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s16 {
    background: -webkit-linear-gradient(#eeeeee, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s17 {
    background: -webkit-linear-gradient(#eeeeee, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.s18 {
    background: -webkit-linear-gradient(#eeeeee, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #ffffff;
}

.color-text-flow {
    color: white;

    background: linear-gradient(to right, #ff5a5a, #ff8a5a, #ffff00, #00ff00, #5acbff, #a500ff,
                            #ff5a5a, #ff8a5a, #ffff00, #00ff00, #5acbff);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke: 0.1px #ffffff;

    background-position-x: 0;
    background-position-y: 0;
    background-size: 200% 100%;

    animation-name: whoosh;
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes whoosh {
    0% { background-position-x: 0 }
    100% { background-position-x: 100% }
}