{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "displayName": true
            }
        ]
    ],
    "rules": {
        "indent": ["error", 4]
    }
}
